Source: frc2019-toolchain
Section: devel
Priority: optional
Maintainer: WPILib Developers <wpilib@wpi.edu>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.6

Package: frc2019-toolchain
Architecture: all
Depends: g++-arm-frc2019-linux-gnueabi (>= 6.3), gdb-arm-frc2019-linux-gnueabi (>= 7.12), libc6-frc2019-armel-cross (>= 1:2.24), libc6-dev-frc2019-armel-cross (>= 1:2.24), linux-libc-dev-frc2019-armel-cross, roborio2019-sysroot (>= 1.6), ${misc:Depends}
Recommends: frcmake2019
Description: FRC Toolchain for 2019+ (Metapackage)
 This metapackage depends on all the components of the FRC toolchain.
