Source: frcmake
Section: devel
Priority: optional
Maintainer: WPILib Developers <wpilib@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), docbook-xsl, docbook-xml, xsltproc
Standards-Version: 3.9.6

Package: frcmake
Architecture: all
Depends: cmake, g++-arm-frc-linux-gnueabi, ${misc:Depends}
Description: CMake wrapper for FRC
 Small wrapper program to run CMake with the proper toolchain for FRC
