Source: gcc-frc2019-armel-cross
Section: contrib/devel
Priority: extra
Maintainer: WPILib Developers <wpilib@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), autotools-dev, libmpfr-dev (>= 3.1.0), libgmp-dev (>= 2:6.1.0), libmpc-dev (>= 1.0), libcloog-isl-dev (>= 0.18.0), flex, texinfo, zlib1g-dev, bison, binutils-arm-frc2019-linux-gnueabi (>= 2.28), libc6-dev-frc2019-armel-cross (>= 2.24)
Standards-Version: 3.9.6
Homepage: http://gcc.gnu.org/

Package: gcc-6.3-arm-frc2019-linux-gnueabi-base
Architecture: any
Section: devel
Priority: extra
Depends: ${misc:Depends}
Description: GCC, the GNU Compiler Collection (base package)
 This package contains files common to all languages and libraries
 contained in the GNU Compiler Collection (GCC).

Package: gcc-6.3-arm-frc2019-linux-gnueabi
Architecture: any
Section: devel
Priority: extra
Depends: gcc-6.3-arm-frc2019-linux-gnueabi-base (= ${binary:Version}), cpp-6.3-arm-frc2019-linux-gnueabi (= ${binary:Version}), binutils-arm-frc2019-linux-gnueabi (>= ${binutils:Version}), libgcc-dev-frc2019-armel-cross (>= 1:6.3.0), ${shlibs:Depends}, ${misc:Depends}
Recommends: libc6-dev-frc2019-armel-cross (>= 1:2.24)
Suggests: gcc-6.3-doc (>= ${gcc:SoftVersion}), gcc-6.3-locales (>= ${gcc:SoftVersion})
Provides: c-compiler-arm-frc2019-linux-gnueabi
Description: GNU C compiler
 This is the GNU C compiler, a fairly portable optimizing compiler for C.
 .
 This package contains C cross-compiler for armel architecture.

Package: cpp-6.3-arm-frc2019-linux-gnueabi
Architecture: any
Section: devel
Priority: extra
Depends: gcc-6.3-arm-frc2019-linux-gnueabi-base (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: gcc-6.3-locales (>= ${gcc:SoftVersion})
Description: GNU C preprocessor
 A macro processor that is used automatically by the GNU C compiler
 to transform programs before actual compilation.
 .
 This package has been separated from gcc for the benefit of those who
 require the preprocessor but not the compiler.
 .
 This package contains preprocessor configured for armel architecture.

Package: g++-6.3-arm-frc2019-linux-gnueabi
Architecture: any
Section: devel
Priority: extra
Depends: gcc-6.3-arm-frc2019-linux-gnueabi-base (= ${binary:Version}), gcc-6.3-arm-frc2019-linux-gnueabi (= ${binary:Version}), libstdc++6-dev-frc2019-armel-cross (>= 1:6.3.0), ${shlibs:Depends}, ${misc:Depends}
Provides: c++-compiler-arm-frc2019-linux-gnueabi, c++abi2-dev
Suggests: gcc-6.3-doc (>= ${gcc:SoftVersion})
Description: GNU C++ compiler
 This is the GNU C++ compiler, a fairly portable optimizing compiler for C++.
 .
 This package contains C++ cross-compiler for armel architecture.

