Source: gcc-frc-armel-cross
Section: contrib/devel
Priority: extra
Maintainer: WPILib Developers <wpilib@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), autotools-dev, libmpfr-dev (>= 3.1.0), libgmp-dev (>= 2:5.0.2), libmpc-dev (>= 0.9), libcloog-isl-dev (>= 0.17.0), flex, texinfo, zlib1g-dev, bison, binutils-arm-frc-linux-gnueabi (>= 2.24), libc6-dev-frc-armel-cross (>= 2.17)
Standards-Version: 3.9.6
Homepage: http://gcc.gnu.org/

Package: gcc-4.9-arm-frc-linux-gnueabi-base
Architecture: any
Section: devel
Priority: extra
Depends: ${misc:Depends}
Description: GCC, the GNU Compiler Collection (base package)
 This package contains files common to all languages and libraries
 contained in the GNU Compiler Collection (GCC).

Package: libgcc1-frc-armel-cross
Architecture: all
Section: devel
Priority: extra
Depends: gcc-4.9-arm-frc-linux-gnueabi-base (= ${binary:Version}), libc6-frc-armel-cross (>= 2.17), ${shlibs:Depends}, ${misc:Depends}
Provides: libgcc1-armel-dcv1
Description: GCC support library
 Shared version of the support library, a library of internal subroutines
 that GCC uses to overcome shortcomings of particular machines, or
 special needs for some languages.
 .
 This package contains files for armel architecture, for use in cross-compile
 environment.

#Note: This is set to any because of paths that I have not yet figured out
Package: libgcc-4.9-dev-frc-armel-cross
Architecture: any
Section: libdevel
Priority: optional
Recommends: libc6-dev-frc-armel-cross (>= 2.17)
Depends: gcc-4.9-arm-frc-linux-gnueabi-base (= ${binary:Version}), libgcc1-frc-armel-cross (>= ${binary:Version}), libgomp1-frc-armel-cross (>= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: GCC support library (development files)
 This package contains the headers and static library files necessary for
 building C programs which use libgcc, libgomp, libquadmath, libssp or libitm.

Package: gcc-4.9-arm-frc-linux-gnueabi
Architecture: any
Section: devel
Priority: extra
Depends: gcc-4.9-arm-frc-linux-gnueabi-base (= ${binary:Version}), cpp-4.9-arm-frc-linux-gnueabi (= ${binary:Version}), binutils-arm-frc-linux-gnueabi (>= ${binutils:Version}), libgcc-4.9-dev-frc-armel-cross (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: libc6-dev-frc-armel-cross (>= 2.17)
Suggests: gcc-4.9-doc (>= ${gcc:SoftVersion}), gcc-4.9-locales (>= ${gcc:SoftVersion})
Provides: c-compiler-arm-frc-linux-gnueabi
Description: GNU C compiler
 This is the GNU C compiler, a fairly portable optimizing compiler for C.
 .
 This package contains C cross-compiler for armel architecture.

Package: cpp-4.9-arm-frc-linux-gnueabi
Architecture: any
Section: devel
Priority: extra
Depends: gcc-4.9-arm-frc-linux-gnueabi-base (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: gcc-4.9-locales (>= ${gcc:SoftVersion})
Description: GNU C preprocessor
 A macro processor that is used automatically by the GNU C compiler
 to transform programs before actual compilation.
 .
 This package has been separated from gcc for the benefit of those who
 require the preprocessor but not the compiler.
 .
 This package contains preprocessor configured for armel architecture.

Package: g++-4.9-arm-frc-linux-gnueabi
Architecture: any
Section: devel
Priority: extra
Depends: gcc-4.9-arm-frc-linux-gnueabi-base (= ${binary:Version}), gcc-4.9-arm-frc-linux-gnueabi (= ${binary:Version}), libstdc++6-dev-frc-armel-cross (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Provides: c++-compiler-arm-frc-linux-gnueabi, c++abi2-dev
Suggests: gcc-4.9-doc (>= ${gcc:SoftVersion})
Description: GNU C++ compiler
 This is the GNU C++ compiler, a fairly portable optimizing compiler for C++.
 .
 This package contains C++ cross-compiler for armel architecture.

Package: libgomp1-frc-armel-cross
Section: devel
Architecture: all
Priority: extra
Depends: gcc-4.9-arm-frc-linux-gnueabi-base (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: GCC OpenMP (GOMP) support library
 GOMP is an implementation of OpenMP for the C, C++, and Fortran compilers
 in the GNU Compiler Collection.

Package: libstdc++6-frc-armel-cross
Architecture: all
Section: devel
Priority: extra
Depends: gcc-4.9-arm-frc-linux-gnueabi-base (= ${binary:Version}), libc6-frc-armel-cross (>= 2.17), ${shlibs:Depends}, ${misc:Depends}
Provides: libstdc++6-armel-dcv1
Conflicts: scim (<< 1.4.2-1)
Description: GNU Standard C++ Library v3
 This package contains an additional runtime library for C++ programs
 built with the GNU compiler.
 .
 libstdc++-v3 is a complete rewrite from the previous libstdc++-v2, which
 was included up to g++-2.95. The first version of libstdc++-v3 appeared
 in g++-3.0.
 .
 This package contains files for armel architecture, for use in cross-compile
 environment.

Package: libstdc++6-dev-frc-armel-cross
Architecture: all
Section: devel
Priority: extra
Depends: gcc-4.9-arm-frc-linux-gnueabi-base (= ${binary:Version}), libgcc-4.9-dev-frc-armel-cross (= ${binary:Version}), libstdc++6-frc-armel-cross (>= ${binary:Version}), libc6-dev-frc-armel-cross (>= 2.17), ${misc:Depends}
Provides: libstdc++-dev-frc-armel-cross, libstdc++-dev-armel-dcv1, libstdc++6-dev-armel-dcv1, libstdc++6-4.9-dev-frc-armel-cross
Conflicts: libstdc++6-4.9-dev-frc-armel-cross
Description: GNU Standard C++ Library v3 (development files)
 This package contains the headers and static library files necessary for
 building C++ programs which use libstdc++.
 .
 libstdc++-v3 is a complete rewrite from the previous libstdc++-v2, which
 was included up to g++-2.95. The first version of libstdc++-v3 appeared
 in g++-3.0.
 .
 This package contains files for armel architecture, for use in cross-compile
 environment.

