#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

GCC_BUILD_DIR=${CURDIR}/../gcc-build-deb-package
USELESS_VALUE=$(shell mkdir -p ${GCC_BUILD_DIR})
SRC_DIR=${CURDIR}

export CFLAGS=-g -O2 -fstack-protector --param=ssp-buffer-size=4 -Wformat -Wformat-security
export CPPFLAGS=-D_FORTIFY_SOURCE=2
export CXXFLAGS=-g -O2 -fstack-protector --param=ssp-buffer-size=4 -Wformat -Wformat-security
export FFLAGS=-g -O2
export LDFLAGS=-Wl,-Bsymbolic-functions -Wl,-z,relro
export CFLAGS_FOR_TARGET=-g -O2 --param=ssp-buffer-size=4 -Wformat -Wformat-security
# BUG: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=61164
# so we just disable it
export CPPFLAGS_FOR_TARGET=
export CXXFLAGS_FOR_TARGET=-g -O2 --param=ssp-buffer-size=4 -Wformat -Wformat-security
export FFLAGS_FOR_TARGET=-g -O2
export LDFLAGS_FOR_TARGET=-Wl,-Bsymbolic-functions -Wl,-z,relro

%:
	dh $@  -B${GCC_BUILD_DIR} --with autotools-dev 

override_dh_auto_configure:

	dh_auto_configure -B${GCC_BUILD_DIR}  --  --enable-threads=posix --target=arm-frc2019-linux-gnueabi --with-cpu=cortex-a9 --with-float=softfp --with-fpu=vfpv3 --with-specs='%{save-temps: -fverbose-asm} %{funwind-tables|fno-unwind-tables|mabi=*|ffreestanding|nostdlib:;:-funwind-tables}' --enable-languages=c,c++ --enable-shared --enable-lto --disable-nls --with-pkgversion='GCC for FRC 2019' --with-cloog --disable-multilib --disable-multiarch --prefix=/usr --with-sysroot=/usr/arm-frc2019-linux-gnueabi --enable-poison-system-directories --enable-plugin --with-system-zlib --disable-libmudflap --with-build-sysroot=/usr/arm-frc2019-linux-gnueabi --libdir=/usr/arm-frc2019-linux-gnueabi/usr/lib --with-gxx-include-dir=/usr/arm-frc2019-linux-gnueabi/usr/include/c++/6.3.0 --program-suffix=-6.3 --program-prefix=arm-frc2019-linux-gnueabi-

override_dh_shlibdeps:
	LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/arm-frc2019-linux-gnueabi/lib:/usr/arm-frc2019-linux-gnueabi/usr/lib dh_shlibdeps --  --ignore-missing-info
	#all the post files are silly and don't apply to us
	rm -rf debian/*post*
	
override_dh_auto_build:
	mkdir -p ${GCC_BUILD_DIR}/arm-frc2019-linux-gnueabi/libatomic/.deps
	dh_auto_build -B${GCC_BUILD_DIR}  -- -j7

override_dh_auto_install:
	cd ${GCC_BUILD_DIR} && make -j1 install DESTDIR=${SRC_DIR}/debian/tmp AM_UPDATE_INFO_DIR=no
	sed -i "/dependency_libs/ s/'.*'/''/" `find . -name '*.la'`
	mkdir -p ${SRC_DIR}/debian/gcc-6.3-arm-frc2019-linux-gnueabi-base/usr/lib/${DEB_BUILD_MULTIARCH}/gcc/arm-frc2019-linux-gnueabi/6.3/
	cd ${SRC_DIR}/debian/gcc-6.3-arm-frc2019-linux-gnueabi-base/usr/lib/${DEB_BUILD_MULTIARCH}/gcc/arm-frc2019-linux-gnueabi/ && ln -s 6.3/ 6.3.0
	sed s/DEB_BUILD_GNU_TYPE/${DEB_BUILD_MULTIARCH}/ < debian/gcc-6.3-arm-frc2019-linux-gnueabi.install.in > debian/gcc-6.3-arm-frc2019-linux-gnueabi.install
	sed s/DEB_BUILD_GNU_TYPE/${DEB_BUILD_MULTIARCH}/ < debian/g++-6.3-arm-frc2019-linux-gnueabi.install.in > debian/g++-6.3-arm-frc2019-linux-gnueabi.install
	sed s/DEB_BUILD_GNU_TYPE/${DEB_BUILD_MULTIARCH}/ < debian/cpp-6.3-arm-frc2019-linux-gnueabi.install.in > debian/cpp-6.3-arm-frc2019-linux-gnueabi.install
	
override_dh_strip:
	DEB_HOST_GNU_TYPE=arm-frc2019-linux-gnueabi dh_strip -O-B${GCC_BUILD_DIR} -X liblto_plugin.so.0.0.0 -X cc1 -X lto -X collect2 -X arm-frc2019-linux-gnueabi- -X fixincl -X gengtype
	dh_strip -O-B${GCC_BUILD_DIR} -X usr/arm-frc2019-linux-gnueabi/lib -X libgcov.a
	rm -rf ${SRC_DIR}/debian/*/usr/share/man/man7
	rm -rf ${SRC_DIR}/debian/*/usr/share/info
	# this should probbably go into a better override
	echo 'binutils:Version=2.28' >> debian/gcc-6.3-arm-frc2019-linux-gnueabi.substvars
	echo 'gcc:SoftVersion=6.3' >> debian/gcc-6.3-arm-frc2019-linux-gnueabi.substvars
	echo 'gcc:SoftVersion=6.3' >> debian/g++-6.3-arm-frc2019-linux-gnueabi.substvars
	echo 'gcc:SoftVersion=6.3' >> debian/cpp-6.3-arm-frc2019-linux-gnueabi.substvars

	
override_dh_auto_test:

