Source: roborio-sysroot
Maintainer: WPILib Developers <wpilib@wpi.edu>
Section: devel
Priority: extra
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)

Package: roborio-sysroot
Architecture: all
Depends: libc6-dev-frc-armel-cross (>= 2.20-r0.62), libc6-frc-armel-cross (>= 2.20-r0.62), linux-libc-dev-frc-armel-cross (>= 3.16-r0.46), ${misc:Depends}
Conflicts: roborio-sysroot (<< 1.1)
Replaces: roborio-sysroot (<< 1.1)
Description: System Root for RoboRIO targets (metapackage) 
 This package contains the headers and library files necessary for
 building linux programs. This is a metapackage that will always depend
 on the latest RoboRIO system root for FRC.

